.black-nav {
  display: flex;
  width: 100%;
  color: #fff;
  background-color: black;
    padding: 20px;
}

.list {
  padding-left: 20px;
  text-align: left;
  border-bottom: 1px solid #888;
}

.array-btn {
  padding: 8px;
  border: 0;
  outline: 0;
  color: #fff;
  background-color: dodgerblue;
  border-radius: 4px;
  font-weight: 700;
  margin-top: 20px;
  margin-left: 20px;
}

.modal {
  margin-top: 20px;
  padding: 20px;
  background-color: #eee;
  text-align: left;
}